body {
  background-color: #33614275;
}
.App {
  margin-top: 120px;
  font-family: sans-serif;
  text-align: center;

}
button {
  padding: 10px;
  font-size: 18px;
  background-color: #628981;
  color: #ffffff;
  border: none;
  cursor: pointer;
}
